body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.single-product {
  padding: 10px;
  transition: 0.6s;
  margin: 10px;
  height: 500px;
  background-color: white;
}
.single-product:hover {
  box-shadow: 0px 0px 10px rgb(88, 86, 86);
  border-radius: 10px;
  border: 3px solid rgb(107, 107, 107);
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  border: 3px solid rgb(36, 36, 36);
  padding: 10px;
  box-shadow: 0px 0px 30px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    border: 3px solid rgb(36, 36, 36);
    padding: 10px;
    box-shadow: 0px 0px 30px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* //footer style area// */
.icons .fab {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

/* //--------------------------------------END---------------------------------------// */
